# Lab 7 Exercises

## Processing Data with Python, Part 1

### Help

If you need help, please contact one of the TAs for the course.

All TAs from this course can answer your questions, so feel free to attend any of the office hours that fit your schedule

Submit your completed Jupyter notebook on Canvas. You don't need to submit any other files, I have them. :D

----

## Exercises

The exercises for this week are varied, but some deal with `chipotle.tsv`, a dataset concerning Chipotle orders. If you run into any trouble, you may find the texts for this section of the course helpful:

* [The Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/), by Jake VanderPlas, or
* [Python for Data Analysis](https://proquest.safaribooksonline.com/9781491957653), by Wes McKinney.

Oh yeah, and let's import pandas for this notebook.

In [2]:
import pandas as pd

----

#### **Exercise 1**

Using the `iloc` and slicing syntax, slice the following dataframe based on the highlighted blocks in the image. 

First, think of the slicing syntax to grab just the rows you want. Then, think of the slicing syntax for the columns you want. 

Put the row slices *before* the comma and the column slices *after* the comma.

In [3]:
# here's our DataFrame
indexing_example = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
indexing_example

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Select the second two columns of the first two rows.  

![first slice exercise](img/indexing1.png)

In [5]:
# put the slicing syntax in your answer here
indexing_example.iloc[[0,1],[1, 2]]

   1  2
0  2  3
1  5  6

Select the third row.

![first slice exercise](img/indexing2.png)

In [25]:
# your answer here!
indexing_example.iloc[2:]

   0  1  2
2  7  8  9

Select the first two columns.

![first slice exercise](img/indexing3.png)

In [22]:
# your answer here!
indexing_example.iloc[:,[0,1]]

   0  1
0  1  2
1  4  5
2  7  8

Select the first two columns of the second row.

![first slice exercise](img/indexing4.png)

In [38]:
# your answer here!
indexing_example.iloc[1,[0,1]]

0    4
1    5
Name: 1, dtype: int64

#### **Exercise 2**

You're going to be working with Chipotle data from here on out. The data is in a file called `chipotle.tsv`. Since this is a tab-separated file (not a CSV, which uses commas), you'll have to specify `sep='\t'` on your read function.

Import your dataset from `chipotle.tsv` and assign it to a variable called `chip`. Then, view the first 10 entries in your new DataFrame.

In [43]:
chip = pd.read_csv("chipotle.tsv", sep = '\t')
chip.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

#### **Exercise 3**

Print the total number of observations in the DataFrame. There are a number of ways you can do this, but the value will be how many individual things were ordered at Chipotle.

In [70]:
size = chip.loc[:,"quantity"].count()
total = 0
for i in range(size):
    total = total + chip.loc[i, "quantity"]
print("total number of observations are:", total)

total number of observations are: 4972

#### **Exercise 4**

Print the number of columns in the DataFrame, and then print the names of all columns in the DataFrame. This will give you a guide to how the DataFrame is indexed.

In [79]:
print(chip.columns.size)
print(chip.columns)

5
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### **Exercise 5**

Calculate, for each order number, how much the order costs. 

In other words, you're going to iterate through the DataFrame and, for each order number, add up the `item_price * quantity` for each item in the order. 

Store the order prices in a list. Then, tell me how much the 100th, 500th, and 1000th order cost.

In [96]:
orders_list = []
order_total = 0
for i in range(chip.loc[:,"order_id"].count()):
    order = chip.loc[i, "order_id"]
    if(order > chip.loc[i, "order_id"]):
        orders_list.append(order_total)
        order_total = 0
    else:
        order_total = chip.loc[i, "item_price"] * chip.loc[i, "quantity"]
print(len(orders_list))

0

#### **Exercise 6**

Using a filter function, drop every row where only one item was ordered. In other words, if `quantity > 1`, keep the row. If not, drop the row. 

Then, print the first ten items in the new DataFrame.

Hint: this is very similar to the filter we wrote when dealing with community center attendance.

In [114]:
chip1 = chip[(chip['quantity'] > 1)]
chip1.head(10)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
18,9,2,Canned Soda,[Sprite],2.18
51,23,2,Canned Soda,[Mountain Dew],2.18
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",17.98
150,68,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",17.50
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
162,73,2,Canned Soda,[Diet Coke],2.18
171,76,2,Canned Soda,[Diet Dr. Pepper],2.18
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",22.50

#### **Exercise 7**

This assignment is a bit tricky! Check out the Python for Everyone's section on [dictionaries](https://www.py4e.com/html3/09-dictionaries) if you're confused.

Make a new dictionary. Then, iterate through the DataFrame. For each `item_name`, do the following:

* if `dict[item_name]` exists, add `quantity` to it;
* if not, set `dict[item_name]` to `quantity`;

You're essentially counting the number of times that a given item has been ordered.